<!DOCTYPE html>
<html>
  <head>
    <title>Đăng ký</title>
  </head>
  <body>
    <h1>Đăng ký</h1>
    <form method="post" action="/dangky">
      <label for="tennguoidung">Tên người dùng:</label>
      <input type="text" name="tennguoidung"><br><br>
      <label for="email">Email:</label>
      <input type="email" name="email"><br><br>
      <label for="matkhau">Mật khẩu:</label>
      <input type="password" name="matkhau"><br><br>
      <button type="submit">Đăng ký</button>
    </form>
  </body>
</html>
